<phpunit bootstrap="./tests/bootstrap.php" colors="true" verbose="true" beStrictAboutTestsThatDoNotTestAnything="true">
    <testsuites>
        <testsuite name="OpenSRS/osrs-toolkit-php test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <groups>
    	<exclude>
    		<group>validsubmission</group>
    	</exclude>
    </groups>
</phpunit>
